{% extends 'topic/base.html' %}

{% include 'topic/navbar.html' %}

{% block title %}首页 - LiteForum{% endblock %}
{% block content %}
    <div>
        <div class="col-md-9">
            <div class="panel panel-default">
                {% for topic in tlist %}

                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <h1>热门节点</h1>
        <ul class="pager">
            {% for n, cnt in nlist %}
                <li><a href="nodes/{{ n.codename }}">{{ n.name }}({{ cnt }})</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}