{% extends 'topic/base.html' %}

{% include 'topic/navbar.html' %}

{% block title %}首页 - LiteForum{% endblock %}
{% block content %}
    <div>
        <h1>最新主题</h1>
        <ul>
            {% for t in tlist %}
                <li>
                    <a href="t/{{ t.id }}">{{ t.title }}</a>

                    <p>{{ t.node.name }} | {{ t.author.username }} | {{ t.reply_set.all.count }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1>热门节点</h1>
        <ul>
            {% for n, cnt in nlist %}
                <li><a href="nodes/{{ n.codename }}">{{ n.name }}</a>({{ cnt }})</li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}