{% extends 'topic/base.html' %}

{% include 'topic/navbar.html' %}

{% block content %}
    <div class="panel panel-default" style="margin: 10px">
        <div class="panel-heading">
            <h1 class="panel-title"><img src="{{ user.gravatar }}" height="45" width="45"/>&nbsp;&nbsp;{{ t.title }}
            </h1>
        </div>
        <div class="panel-body">
            {{ t.content }}
        </div>
    </div>

    <h4>浏览回复</h4>

    <div>
        {% for id, r in rlist %}
            <p>
                <string>{{ id }}:{{ r.author }}</string>
            </p>
            <p>{{ r.content }}</p>
        {% endfor %}
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="回复"/>
        </form>

    </div>

{% endblock %}