{% extends 'topic/base.html' %}

{% include 'topic/navbar.html' %}

{% block content %}
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading media clearfix">
                <div class="media-body">
                    <h1 class="media-heading">{{ t.title }}</h1>

                    <div class="info">
                        <a href="/accounts/profile/{{ user.username }}">{{ user.username }}</a>
                    </div>
                </div>
                <div class="media-right"><a href="/accounts/profile/{{ user.username }}"><img
                        src="{{ user.gravatar }}"/></a></div>
            </div>
            <div class="panel-body">
                {{ t.content }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">共有{{ t.reply_set.count }}条回复</div>
            {% for rid, r, avt in rlist %}
                <div class="panel-body">
                    <div
                            style="border-bottom: 1px solid #e5e5e5; padding: 15px 15px; margin: -15px -15px;">
                        <div class="media-left">
                            <a href="/accopunts/profile/{{ r.author.username }}">
                                <img src="{{ avt }}" height="48" width="48"/>
                            </a>
                        </div>
                        <div class="media-body">
                            {{ r.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="回复"/>
        </form>
    </div>


    <div>

    </div>

{% endblock %}