{% extends 'topic/base.html' %}

{% include 'topic/navbar.html' %}

{% block content %}
    <h1>{{ t.title }}</h1>
    <p>{{ t.content }}</p>

    <h4>浏览回复</h4>

    <div>
        {% for id, r in rlist %}
            <p>
                <string>{{ id }}:{{ r.author }}</string>
            </p>
            <p>{{ r.content }}</p>
        {% endfor %}
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="回复"/>
        </form>

    </div>

{% endblock %}